.filter-container {
  background-color: #dae5e6;
  border: 2px solid #64c9bc;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form-control {
  margin-top: 1rem;
}
